body {
    margin: 0;
    background: rgb(71,125,122);
    background: linear-gradient(306deg, rgba(71,125,122,1) 8%, rgba(27,145,135,1) 43%, rgba(52,173,198,1) 76%);
    color: #005555;
    font-family: Roboto, futura, Times, sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
}

* {
    box-sizing: border-box;
}

h1{
   text-align: center; 
}

.link{
    text-align: justify;
}

img {
    width: 100%;
}

.typewriter {
    width: 100%;
}

h2 { font-size: 1.5em;
}

.primary-heading {
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.5em;
}

.container{
  padding: 0 1em;  
  width: auto;
  margin: 0 auto;
  max-width: 40em;
}

.highlight {
    background-color: #eeafee;
    color: #ffffff;
    font-weight: 400;
    text-align: justify;
}
.mystory {
    background-color: rgb(82, 207, 180);
    font-weight: 500;
    text-align: justify;
}


.Hobbies {
    background-color: aquamarine;
    font-weight: 700;
    font-style: italic ;
    font-family: sans-serif;
    text-align: justify;
}
